<html>
    <head>
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    </head>
    <body>
        <main class="container">
            <h1> Hello <%= user.name %> </h1>
            <p> Your age is: <%= user.age %> </p>
            <p> Your surname is: <%= user.surname %> </p>
        </main>
    </body>
</html>